# editor things
.vscode
.zed
.DS_Store

zig-out
zig-pkg
# all dotfiles
# .*
*.so
*.dylib
*.a
*.log
.revo_history
# meta.rvo output from examples
*.rvo
.priv
.zig-cache
__pycache__
*.wasm
# gets tangled by default
Emacs.el
_ign*
